@font-face {
  font-family: "Axiforma";
  src: url("./assets/fonts/axiforma/Axiforma-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Axiforma";
  src: url("./assets/fonts/axiforma/Axiforma-Regular.woff") format("woff"),
    url("./assets/fonts/axiforma/Axiforma-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Axiforma";
  src: url("./assets/fonts/axiforma/Axiforma-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Axiforma";
  src: url("./assets/fonts/axiforma/Axiforma-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
} /* American Purpose Font */
@font-face {
  font-family: "American Purpose";
  src: url("./assets/fonts/american_purpose/American Purpose.ttf")
      format("truetype"),
    url("./assets/fonts/american_purpose/American Purpose.otf")
      format("opentype");
  font-weight: normal;
  font-style: normal;
}
